#about_us{
    width: 100%;
    max-width: 1920px;
    height: 985px;
    margin: auto;
    background:url("./images/about_us_bg.jpg")center;
    background-attachment: fixed;
    background-size: cover;
}
#about_us .bg .text{
    text-align: center;
    color: white;
}
#about_us .text h1{
    font-size: 42px;
    padding-top:  40px;
    margin-bottom: 80px;
}
#about_us .text h2{
    font-size: 24px;
    font-weight: bold;
}
#about_us .text p{
    font-size: 16px;
    margin-top: 10px;
    line-height: 25px;
}
#about_us .bg{
    width: 100%;
    max-width: 1920px;
    height: 430px;
    background-color: #131e3c;
    margin: auto;
}
#about_us .text2{
    text-align: center;
    margin-top: 11%;
}
#about_us .text2 h2{
    font-size: 24px;
    font-weight: bold;
}
#about_us .text2 p{
    font-size: 16px;
    margin-top: 10px;
    line-height: 25px;
}